<div class="well">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">

      <h4><%= product.name %></small></h4>
      <br>
      <% if product.name == "Apples" %>
      <%= image_tag("apple.jpg", class: "img-responsive")%>
      <% end %>

      <% if product.name =="Bananas"%>
      <%=image_tag("banana.jpg", class: "img-responsive")%>
      <% end %>

      <% if product.name =="Milk"%>
      <%=image_tag("milk.jpg", class: "img-responsive products")%>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3">

      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>

            <% if current_user.try(:admin?) && !current_user?(@user)  %>
            <%= link_to "Delete", product, { data: { confirm: "Are you sure you wish to delete the product '#{product.name}' from your listing? ;        # We still work on this function. We can delete the product from the database but removing a product from the listing would need to search then remove the same product from the cart too
" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            <%= link_to "Edit", edit_product_path(product), class: "btn btn-danger" %>

            <% end %>

          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
